$border-style: 1px solid $clear-white;

.hero-section .mobile-devices-container {
  position: absolute;
  width: 100%;
  top: 10px;
  // background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  // background-color: orange;
  // width: rem(240px);
  z-index: 1;
}

.hero-section .largescreen-devices-container {
  position: absolute;
  width: 100%;
  top: rem(120px);
  right: 0;
  // background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  // background-color: orange;
  // width: rem(240px);
  z-index: 1;
}

.iphone {
  width: rem(60px);
  height: rem(100px);
  border: $border-style;
  border-radius: rem(5px);
  .ear-piece {
    background-color: $clear-white;
    margin: rem(5px) auto 0;
    width: rem(10px);
    height: rem(2px);
  }
  .screen {
    border: $border-style;
    width: rem(46px);
    height: rem(66px);
    margin: rem(8px) auto 0;
  }
  .home-button {
    width: rem(7px);
    height: rem(7px);
    border-radius: 100%;
    border: $border-style;
    margin: rem(5px) auto 0;
  }
}

.imac {
  width: rem(140px);
  height: rem(100px);
  border: $border-style;
  border-radius: rem(2px);
  .screen {
    margin: rem(8px) auto;
    width: rem(126px);
    height: rem(64px);
    border: $border-style;
  }
  .bottom {
    border-top: $border-style;
    margin: rem(8px) 0 0;
    .logo {
      border-radius: 100%;
      margin: rem(3px) auto;
      width: rem(10px);
      height: rem(10px);
      border: $border-style;

    }
  }
  .feet {
    display: flex;
    justify-content: space-between;
    width: rem(40px);
    height: rem(20px);
    border-bottom: $border-style;
    margin: rem(4px) auto 0;
    .concave-side-left {
      display: inline-block;
      width: rem(5px);
      height: rem(20px);
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-right: $border-style;
    }
    .concave-side-right {
      display: inline-block;
      width: rem(5px);
      height: rem(20px);
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      border-left: $border-style;
    }
  }
}

.smartwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  .wriststrap-top {
    border-top: 1px dotted $clear-white;
  }
  .wriststrap-bottom {
    border-bottom: 1px dotted $clear-white;
  }
  .wriststrap-top,
  .wriststrap-bottom {
      border-left: $border-style;
      border-right: $border-style;
      width: rem(24px);
      height: rem(24px);
    }
  .watchface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: $border-style;
    border-radius: rem(15px);
    width: rem(50px);
    height: rem(50px);
    .screen {
      border: $border-style;
      border-radius: rem(3px);
      width: rem(36px);
      height: rem(36px);
      margin: 0 auto;
    }
  }
}