.navbar {
  background-color: $white;
  padding: rem(20px) 0;
  .home {
    @extend %lato-bold;
    margin-left: rem(15px);
    color: $faded-black;
    font-size: 110%;
    letter-spacing: rem(8px);
    line-height: 1;
    text-decoration: none;
    text-transform: lowercase;
  }
}