$black: #000;
$faded-black: #333333;
$white: #fff;
// $clear-white: rgba($white, 0.35);
$clear-white: hsla(360, 100%, 100%, 0.35);

$eggshell-white: #FFFAEF;

$seattle-salmon: #FF6666;
$yellow: #F2DB5B;
$baby-blue: #D2F0F0;
$green: #8CD211;