.hero-section {
  background-color: $yellow;
  padding: rem(10px) 0;
  width: 100%;
}

.hero-description {
  margin: 0 auto;
  padding: rem(25px) 0;
  width: rem(185px);
  .line {
    @extend %karla-bold;
    color: $faded-black;
    display: inline-block;
    font-size: 185%;
    letter-spacing: rem(-1.5px);
    margin: rem(1.5px) 0;
    width: 100%;
    text-align: left;

    &:nth-child(2) {
      background-color: salmon;
      color: $white;
      font-size: 200%;
      padding-left: rem(10px);
      width: rem(170px);
    }

    &:last-child {
      font-size: 185%;
      padding-bottom: rem(15px);
    }
  }
}

.devices-row {  
  display: flex;
  justify-content: space-between;
  margin: 0 auto rem(25px);
  &.small {
    width: rem(150px);
  }
  &.big {
    width: rem(200px);
  }
}
