.hero-section {
  background-color: $yellow;
  height: 800vh;
  width: 100%;
}

.hero-description {
  margin-left: rem(15px);
  padding: rem(25px) 0;
  .line {
    @extend %karla-bold;
    color: $faded-black;
    display: inline-block;
    font-size: 150%;
    letter-spacing: rem(-1.5px);
    margin: rem(1.5px) 0;
    width: 100%;
  }
}

.devices-row {
  // background-color: orange;
  margin-left: rem(15px);
  margin-bottom: rem(15px);
  padding-right: rem(10px);
  width: rem(295px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
