.iphone {
  display: inline-block;
  border: $thick-border;
  border-radius: rem(8px);
  width: rem(70px);
  height: rem(140px);
  .ear-piece {
    display: block;
    border: $thin-border;
    margin: rem(5px) auto;
    width: 20%;
    height: rem(3px);
  }
  .screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: $thin-border;
    margin: 0 auto;
    width: 87.5%;
    height: 75%;
    .ui-navbar {
      border-bottom: $thin-border;
      background-color: $white;
      width: 100%;
      height: rem(15px);
    }
    .ui-profile {
      background-color: $white;
      border: $thin-border;
      border-radius: 50%;
      margin: rem(5px) auto 0;
      width: rem(25px);
      height: rem(25px);
    }
    .ui-username {
      background-color: $white;
      border: $thin-border;
      margin: rem(5px) auto 0;
      width: 70%;
      height: rem(6px);
    }
    .ui-usertitle {
      background-color: $white;
      border-left: $thin-border;
      border-right: $thin-border;
      border-bottom: $thin-border;
      margin: 0 auto;
      width: 70%;
      height: rem(5px);
    }
    .ui-cta {
      background-color: $green;
      border: $thin-border;
      border-radius: 5px;
      margin: rem(5px) auto;
      width: rem(30px);
      height: rem(10px);
    }
    .ui-bottom-nav {
      display: flex;
      border-top: $thin-border;
      background-color: $white;
      width: 100%;
      height: rem(15px);
      .divider {
        width: 33.33%;
        height: 100%;
        border-right: $thin-border;
      }
    }
  }

  .home-button {
    border: $thin-border;
    border-radius: 50%;
    margin: rem(3px) auto;
    width: rem(15px);
    height: rem(15px);
  }
}