.smartwatch {
  width: rem(65px);
  height: rem(110px);
  .wrist-strap {
    background-color: $yellow;
    border-left: $thick-border;
    border-right: $thick-border;
    position: relative;
    width: 50%;
    height: rem(20px);
    margin: 0 auto;
    &:first-child {
      border-top: rem(1.5px) solid $faded-black;
      border-bottom: $thin-border;
      border-top-left-radius: rem(8px);
      border-top-right-radius: rem(8px);
      border-bottom-left-radius: rem(2px); 
      border-bottom-right-radius: rem(2px); 
      top: rem(10px);
    }
    &:last-child {
      bottom: rem(10px);
      border-top: $thin-border;
      border-bottom: $thin-border;
      border-top-left-radius: rem(2px);
      border-top-right-radius: rem(2px);
      border-bottom-left-radius: rem(8px); 
      border-bottom-right-radius: rem(8px);
    }
  }
  .watch-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .left-button {
      border-left: $thin-border;
      border-top: $thin-border;
      border-bottom: $thin-border;
      margin-top: rem(20px);
      width: rem(2px);
      height: rem(25px);
    }
    .watch-face {
      display: flex;
      justify-content: center;
      align-items: center;
      border: $thick-border;
      // margin: 0 auto;
      width: rem(60px);
      height: rem(90px); 
      .screen {
        border: $thin-border;
        width: 70%;
        height: rem(55px);
      }
    }
    .right-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: rem(2px);
      height: rem(90px);
      .button {
        border-top: $thin-border;
        border-right: $thin-border;
        border-bottom: $thin-border;
        width: 100%;
        height: rem(16px);
        &:nth-child(even) {
          height: rem(15px);
          margin: rem(5px) 0;
        }
      }
    }
  }
}